@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  color: white;
  left: 0;
  padding: 0 15px;
  font-family: Inknut Antiqua, serif;
  height: 75px;
}

.header input {
  height: 30px;
  align-self: center;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  width: 130px;
}

.header button {
  border-radius: 5px;
  border: none;
  width: 130px;
  margin-left: 5px;
  background-color: rgb(82, 32, 129);
  color: white;
}

#login {
  margin-bottom: 15px;
}

#email::placeholder , #senha::placeholder {
  padding: 0 8px;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
}

#conteudo-pagina {
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.247);
  font-family: Inknut Antiqua, serif;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  font-family: Inknut Antiqua, serif;
}

#dados-casas {
  display: flex;
  flex-direction: row;
}

#trybewarts-forms-logo {
  height: 500px;
}

#imagem {
  align-self: center;

}

hr {
  width: 100%;
}

#family-conteudo {
  display: flex;
  justify-content: space-between;
  line-height: 35px;
}

#conteudo-aprender {
  width: 59%;

}

#conteudo {
  display: flex;
  flex-wrap: wrap;
}

#label-content {
  line-height: 30px;
}

#conteudo > label {
  width: 100%;
  flex: 33%;
  margin-top: 4px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#contagem-pesquisa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contagem {
  display: flex;
  flex-direction: row;
  width: 355px;
  justify-content: space-between;
  margin-bottom: 25px;
}

#comentario {
  display: flex;
  flex-direction: column;
}

/* Referencia estilização footer:
https://pt.stackoverflow.com/questions/
165214/footer-no-final-do-documento */

#footer {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(50, 167, 145);
  color: white;
  font-family: Inknut Antiqua, serif;
}

#footer > p {
  margin-bottom: 0;
  align-self: center;
  padding: 10px 0;
}

.textarea {
  margin-bottom: 10px;
}

/* Referencia estilização textArea:
https://pt.stackoverflow.com/questions/177917/como-desabilitar-o-resize-do-textarea */

#textarea {
  width: 100%;
  resize: none;
  border: solid 1px rgb(82, 32, 129);
  border-radius: 5px;
}

#textarea::placeholder {
  padding: 8px;
}

/* Referencia estilização (remover borda ao clicar no textarea)
https://stackoverflow.com/questions/3397113/how-to-remove-focus-
border-outline-around-text-input-boxes-chrome */

#textarea:focus {
  outline: none;
}

#resposta-form {
  margin-bottom: 40px;
}

#termos {
  padding: 10px 0;
}

#submit-btn {
  border-radius: 5px;
  border: none;
  background-color: rgb(82, 32, 129);
  color: white;
  padding: 8px 0;
}
