.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

hr {
  width: 100%;
}

#family-conteudo {
  display: flex;
  justify-content: space-between;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#family div , #conteudo-aprender div {
  margin: 5px 0;
}

#contagem-pesquisa {
  display: flex;
  flex-direction: row;
}

#pesquisa {
  display: flex;
  flex-direction: row;
}

#comentario {
  display: flex;
  flex-direction: column;
}

/* referencia estilização footer:
https://pt.stackoverflow.com/questions/
165214/footer-no-final-do-documento */

#footer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgb(50, 167, 145);
  color: white;
}

/* referencia estilização textArea:
https://pt.stackoverflow.com/questions/177917/como-desabilitar-o-resize-do-textarea */

#textarea {
  width: 100%;
  resize: none;
}
